@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Sacramento", cursive; */
/* font-family: 'Poppins', sans-serif; */

:root {
  --pink: #e52165;
  --light: #ff8bb4;
  --blue: #0d1137;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  width: 100%;
  height: 90vh;
}
/* .form-container{
} */
.app-container h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: var(--pink);
}
form {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}
input {
  padding: 5px 15px 5px 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  height: 50px;
  caret-color: #e52165;
  font-size: 22px;
}
input:focus {
  border: 5px solid var(--pink);
}
button {
  padding: 5px 15px 5px 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  height: 50px;
  background-color: var(--blue);
  color: var(--light);
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  transform: scale(0.9);
}
button:active {
  transform: scale(0.85);
}

/* !==FOOTER */
footer {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: whitesmoke;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 30px;
  top: -60px;
  left: -5px;
  background-color: var(--blue);
  transform: rotate(-4deg);
}

footer::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 40px;
  top: -72px;
  right: -40px;
  background-color: var(--blue);
  transform: rotate(-90deg);
}
